@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');



body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    /*background: rgb(219, 57, 165);*/
}

.caixa {
    width: 90%%;
}

h1 {
    margin-top: 50px;
    
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
}

div {
    display: inline-block;
}

p {
    font-size: 1.7em;
    font-weight: lighter;
    font-style: italic;

}

.fim {
    text-align: right;
}


.contagem-regressiva {
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: royalblue;*/
    margin: 40px 0;
    position: relative;
}

.contagem-regressiva.shadow {
    /*box-shadow: 10px -10px 25px rgba(33, 231, 245, 0.63);*/
}